# For read environment variable, add this line in top to application.properties

spring.config.import=optional:file:.env[.properties]

# remote database configuration



# Backend Configuration

BACKEND_PORT=8888
JWT_SECRET_KEY=w1dGjDiSmJly/J3BnYHEvBzS39jt/vMwPHLZaXLVlhbghGMLujzgoWSnp5vRfO78YDsJmbrz9osS88WNKXBFzw==
# put here the origins allowed url for request
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200

# Local minio

MINIO_PROJECT_NAME=inventory-management

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_WEB_URL=http://localhost:9001
MINIO_API_URL=http://localhost:9000
MINIO_USERNAME=minio_username
MINIO_PASSWORD=minio_password



# Javamail Configuration

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mailtorichy48@gmail.com
MAIL_PASSWORD=
MAIL_PROTOCOL=smtp


